
  @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@400;500;700&family=Lexend+Deca&family=Open+Sans:wght@400;600;700&family=Outfit:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,500&family=Raleway:wght@400;700&family=Roboto:ital,wght@0,100;1,100&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
:root{
    ### Primary

--Pink: hsl(322, 100%, 66%);
--LightPink: hsl(321, 100%, 78%);
--LightRed: hsl(0, 100%, 63%);

### Neutral

--VeryDarkCyan: hsl(192, 100%, 9%);
--VeryPaleBlue: hsl(207, 100%, 98%);

}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html{
    height: 100%;
    scroll-behavior:smooth ;
}
body{
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    
    
}